[data-version='bare'][data-theme="dark"] #root {
  background: linear-gradient(-45deg,
      #1e241d,
      #888072,
      #273929,
      #5c644d,
      #1a1a1a);
  background-size: 300% 300%;
  animation: gradientShift 15s ease infinite;
  color: #ffffff;
}



[data-version='bare'][data-theme="dark"] {
  --edu-bg: #1e1e1e;
  --edu-text: #f0f0f0;
  --edu-muted-text: #aaa;
  --edu-shadow: rgba(0, 0, 0, 0.5);
  --edu-border: #444;
  --edu-button-bg: #434837;
  --edu-button-hover: #8faa3f;
}


[data-version='bare'][data-theme="dark"] {
  --quick-link-border: #666;
  --quick-link-text: #f0f0f0;
  --quick-link-hover-bg: #444;
  --quick-link-hover-text: #fff;
  --text-color: #aaa;
  --footer-bg: #2a2a2a;

  --navbar-bg: rgba(33, 38, 29, 0.589);
}