[data-version='bare'][data-theme="light"] #root {
  background-image: url("/imgs/colourgradientlight.jpg");
  color: #000000;
}

[data-version='bare'] body {
  font-family: "Arial", sans-serif;
  scroll-behavior: smooth;
}

[data-version='bare'] #root {
  width: 100vw;
  min-height: 100vh;
  background: #ffffff;
  color: #000000;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

[data-version='bare'] div[style*="scroll-snap-type"] {
  scrollbar-width: none;
}

[data-version='bare'] div[style*="scroll-snap-type"]::-webkit-scrollbar {
  display: none;
}

[data-version='bare'] .cursor-glow {
  background: rgba(0, 0, 0, 0.1);
  filter: blur(40px);
}

/* Variable definitions for light and dark themes */
[data-version='bare'][data-theme="light"] {
  --edu-bg: #fff;
  --edu-text: #283618;
  --edu-muted-text: #555;
  --edu-shadow: rgba(0, 0, 0, 0.1);
  --edu-border: #ccc;
  --edu-button-bg: #283618;
  --edu-button-hover: #4a632f;
}