[data-version='bare'][data-theme="light"] #root {
  background: linear-gradient(
    -45deg,
    #c9f4ce,
    #d6ded1,
    #d6f4d7,
    #e8f8c7,
    #fbfbd0
  );
  color: #000000;
}

[data-version='bare'] body {
  font-family: "Arial", sans-serif;
  scroll-behavior: smooth;
}

[data-version='bare'] #root {
  width: 100vw;
  min-height: 100vh;
  background: #ffffff;
  color: #000000;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

[data-version='bare'] div[style*="scroll-snap-type"] {
  scrollbar-width: none;
}

[data-version='bare'] div[style*="scroll-snap-type"]::-webkit-scrollbar {
  display: none;
}

[data-version='bare'] .cursor-glow {
  background: rgba(0, 0, 0, 0.1);
  filter: blur(40px);
}

/* Variable definitions for light and dark themes */
[data-version='bare'][data-theme="light"] {
  --edu-bg: #fff;
  --edu-text: #283618;
  --edu-muted-text: #555;
  --edu-shadow: rgba(0, 0, 0, 0.1);
  --edu-border: #ccc;
  --edu-button-bg: #c9f4ce;
  --edu-button-hover: #a8e9b0;
}

[data-version='bare'][data-theme="light"] {
  --quick-link-border: #ccc;
  --quick-link-text: #283618;
  --quick-link-hover-bg: #d6f4d7;
  --quick-link-hover-text: #000;
  --text-color: #555;
  --footer-bg: #f4f4f4;
}