[data-version='bare'][data-theme="dark"] #root {
  background-image:
    linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.65)),
    url("/imgs/northernlightsdark.jpg");
  background-size: 100% auto;
  background-repeat: repeat-y;
  background-position: top center;
  color: #ffffff;
}
