[data-version='prettier'][data-theme="dark"] {
  --bg-gradient: linear-gradient(to bottom, rgba(0.9, 85, 48, 255) 50%, rgb(74, 107, 52) 90%);
  --bg-color: #0f2b1c;
  --text-color: #e9f5ea;
  --cursor-glow: #7ca567;
  --footer-bg: #344d2f;
  --footer-text: #cde9a3;
  --accent-color: #a4c48c;
}

[data-version='prettier'][data-theme="dark"][data-page='start'] #root {
  background-image: url("/imgs/darkBackgroundWave.png");
}




