.easter-egg-container {
	position: relative;
	display: inline-block;
}

.easter-egg-click {
	cursor: pointer;
}

.easter-egg-img {
	width: 30px;
	height: auto;
}

.easter-egg-popup-overlay {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.5);
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 9999;
}

.easter-egg-popup-content {
	background-color: var(--footer-bg);
	padding: 20px;
	border-radius: 8px;
	width: 90vw;
	max-width: 800px;
	max-height: 80vh;
	overflow-y: auto;
	overflow-x: hidden;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.easter-egg-surprise {
	text-align: center;
}
