/* Theme variables */
[data-version='bare'][data-theme="dark"] {
  --form-bg: #1e1e1e;
  --form-txt: #f0f0f0;
  --form-border: #444;
  --form-button-bg: #283618;
  --form-button-txt: #fff;
  --form-button-disabled: #aaa;
}

[data-version='bare'][data-theme="light"] {
  --form-bg: #ffffff;
  --form-txt: #1e1e1e;
  --form-border: #ccc;
  --form-button-bg: rgba(171, 196, 143, 0.9);
  --form-button-txt: #fff;
  --form-button-disabled: #aaa;
}

[data-version='prettier'][data-theme="dark"] {
  --form-bg:  #0f2b1c;
  --form-txt: #e9f5ea;
  --form-border: #444;
  --form-button-bg: #344d2f;
  --form-button-txt: #fff;
  --form-button-disabled: #aaa;
}

[data-version='prettier'][data-theme="light"] {
  --form-bg: #bce4ae;
  --form-txt:#2f3d2f;
  --form-border: #ccc;
  --form-button-bg: #7ca567;
  --form-button-txt: #fff;
  --form-button-disabled: #aaa;
}

.request-call-form {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: 0rem auto;
  border-radius: 8px;
  color: var(--form-txt);
}

.request-call-form label {
  margin-top: 0.5rem;
  font-weight: bold;
  color: var(--form-txt);
}

.request-call-form input,
.request-call-form textarea {
  margin-top: 0.25rem;
  padding: 0.5rem;
  border: 1px solid var(--form-border);
  border-radius: 4px;
  background-color: var(--form-bg);
  color: var(--form-txt);
}

.request-call-form input::placeholder,
.request-call-form textarea::placeholder {
  color: var(--form-txt);
  opacity: 0.6;
}

.request-call-form button {
  margin-top: 1rem;
  padding: 0.5rem;
  background-color: var(--form-button-bg);
  color: var(--form-button-txt);
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.request-call-form button:disabled {
  background-color: var(--form-button-disabled);
  cursor: not-allowed;
}

.response-message {
  margin-top: 1rem;
  font-style: italic;
  text-align: center;
  color: var(--form-txt);
}
