.content-scroll-container {
	scroll-snap-type: y mandatory;
	overflow-y: scroll;
	height: 100vh;
	scroll-behavior: smooth;
}

.full-page {
	scroll-snap-align: start;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 20px;
}
