.startPageB {
  /*background-color: rgba(255, 255, 255, 0.17); */
  height: 100vh;
	overflow: auto;
  /* Enable flex layout to center vertically */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding: 10px;
}