#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.custom-footer {
  width: 100%;
  padding: 5px;
  background-color: var(--footer-bg);
  color: var(--text-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}


.nav-icons {
  display: flex;
  gap: 1.2rem;
}

.nav-icons a,
.nav-icons i {
  color: var(--text-color);
  font-size: 1.2rem;
  transition: color 0.25s;
  margin: 0;
}

.nav-icons a:hover i {
  color: var(--accent-color);
}
