.projects-container {
  height: calc(100vh - var(--navbar-height) - var(--footer-height));
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  gap: 2rem;
  color: var(--text-color);
  text-align: center;
}

.projects-button-section {
  display: flex;
  gap: 1rem;
  justify-content: center;
}

.projects-list-section {
  width: 100%;
  display: flex;
  justify-content: center;
}

.hidden-EasterEgg {
  position: fixed;
  bottom: 50px;
  right: 20px;
  z-index: 1000;
}
