.startPage-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - var(--navbar-height) - var(--footer-height));
  padding: 2rem 1rem;
  box-sizing: border-box;
}


.startPage-inner {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 0px; /* 👈 tight spacing */
  row-gap: 2rem;    /* only applies if wrapping */
  max-width: 1000px;
  width: 100%;
  flex-wrap: wrap;
  text-align: center;
}



.startPage-name {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.startPage-role {
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

.quick-access {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  width: 200px;
}

.quick-link {
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
  padding: 10px 0;
  width: 100%;
  text-align: center;
  border: 2px solid var(--quick-link-border);
  border-radius: 5px;
  transition: all 0.3s ease-in-out;
  color: var(--quick-link-text);
  background-color: transparent;
  cursor: pointer;
}

.quick-link:hover {
  background-color: var(--quick-link-hover-bg);
  color: var(--quick-link-hover-text);
}

.startPage-left {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 250px;
}

.startPage-description {
  max-width: 480px;
  text-align: left;
  color: var(--text-color);
  margin-left: 20px;
}


